cap-widget {
    --border-color: color-mix(in oklab, var(--color-base-content) 20%, #0000);
    --text-color: color-mix(in oklab, currentcolor 60%, transparent);

    /* - - Border -- */
    --cap-gap: 0.5rem;
    --cap-widget-width: 14rem;
    --cap-widget-height: 3rem;
    --cap-widget-padding: 0 0.5rem;

    --cap-color: var(--text-color);
    --cap-background: var(--color-base-100);

    --cap-border-color: var(--border-color);
    --cap-border-radius: var(--radius-box);

    /* - - Checkbox -- */
    --cap-checkbox-border: 1px solid var(--border-color);
    --cap-checkbox-border-radius: 0.5rem;

    --cap-checkbox-background: var(--color-base-100);

    --cap-checkbox-margin: 0;
    --cap-checkbox-size: 1.5rem;

    /* - - Spinner -- */
    --cap-spinner-thickness: 2px;

    --cap-spinner-color: var(--color-accent);
    --cap-spinner-background-color: var(--border-color);
}
