{
    "**/*.{ts,tsx}": [
      "oxlint --fix --max-warnings=0",
      "oxfmt --write" 
    ], 
    "**/*.{md,html,css,yml,yaml,json}": [
      "dprint fmt",
      "oxfmt --write"
    ],
    "**/Dockerfile": [
      "dprint fmt"
    ]
}