{
    "**/*.{ts,tsx}": [
        "oxlint --fix --max-warnings=0",
        "oxfmt --no-error-on-unmatched-pattern --write"
    ],
    "**/*.{md,html,css,yml,yaml,json}": [
        "oxfmt --no-error-on-unmatched-pattern --write"
    ],
    "**/Dockerfile": ["dprint fmt --allow-no-files"]
}
