@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "autumn";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(95.814% 0 0);
    --color-base-200: oklch(89.107% 0 0);
    --color-base-300: oklch(82.4% 0 0);
    --color-base-content: oklch(19.162% 0 0);
    --color-primary: oklch(40.723% 0.161 17.53);
    --color-primary-content: oklch(88.144% 0.032 17.53);
    --color-secondary: oklch(61.676% 0.169 23.865);
    --color-secondary-content: oklch(12.335% 0.033 23.865);
    --color-accent: oklch(73.425% 0.094 60.729);
    --color-accent-content: oklch(14.685% 0.018 60.729);
    --color-neutral: oklch(54.367% 0.037 51.902);
    --color-neutral-content: oklch(90.873% 0.007 51.902);
    --color-info: oklch(69.224% 0.097 207.284);
    --color-info-content: oklch(13.844% 0.019 207.284);
    --color-success: oklch(60.995% 0.08 174.616);
    --color-success-content: oklch(12.199% 0.016 174.616);
    --color-warning: oklch(70.081% 0.164 56.844);
    --color-warning-content: oklch(14.016% 0.032 56.844);
    --color-error: oklch(53.07% 0.241 24.16);
    --color-error-content: oklch(90.614% 0.048 24.16);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: "forest";
    default: false;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(20.84% 0.008 17.911);
    --color-base-200: oklch(18.522% 0.007 17.911);
    --color-base-300: oklch(16.203% 0.007 17.911);
    --color-base-content: oklch(83.768% 0.001 17.911);
    --color-primary: oklch(68.628% 0.185 148.958);
    --color-primary-content: oklch(0% 0 0);
    --color-secondary: oklch(69.776% 0.135 168.327);
    --color-secondary-content: oklch(13.955% 0.027 168.327);
    --color-accent: oklch(65% 0.094 60.729);
    --color-accent-content: oklch(14.125% 0.023 185.713);
    --color-neutral: oklch(30.698% 0.039 171.364);
    --color-neutral-content: oklch(86.139% 0.007 171.364);
    --color-info: oklch(72.06% 0.191 231.6);
    --color-info-content: oklch(0% 0 0);
    --color-success: oklch(64.8% 0.15 160);
    --color-success-content: oklch(0% 0 0);
    --color-warning: oklch(84.71% 0.199 83.87);
    --color-warning-content: oklch(0% 0 0);
    --color-error: oklch(71.76% 0.221 22.18);
    --color-error-content: oklch(0% 0 0);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}
