# - - Node Enviroment - -
NODE_ENV="development"

# - - API - -
API_PORT=""
API_LOGGER="false"

# - - Web (NextJS) - -
WEB_URL=""

# - - PostgreSQL - -

DB_USER="<USER>"
DB_PASSWORD="<PASSWORD>"
DB_HOST="<HOST>"
DB_PORT="<PORT>"
DB_NAME="<DB>"

DATABASE_URL=postgresql://<USER>:<PASSWORD>@<HOST>:<PORT>/<DB>

# - - Valkey - -
VALKEY_HOST=""
VALKEY_PORT=""

# - - Access Token (Paseto) - -
TOKEN_ISSUER=""
TOKEN_AUDIENCE=""
TOKEN_EXPIRATION=""
TOKEN_PRIVATE_KEY=""
TOKEN_PUBLIC_KEY=""

# - - Captcha (Cap.js) - -
CAPTCHA_URL="",
CAPTCHA_SECRET_KEY=""
CAPTCHA_API_KEY=""