@import 'tailwindcss';
@import '@ui/css';

@theme {
    --breakpoint-xs: 512px;
}

@theme inline {
    --radius: var(--radius);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-success: var(--success);
    --color-success-foregroud: var(--success-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
}

@layer components {
    .loading {
        @apply flex items-center justify-center gap-1;
        @apply text-center;

        &-label-top {
            @apply flex-col-reverse;
        }

        &-label-bottom {
            @apply flex-col;
        }

        &-label-left {
            @apply flex-row-reverse;
        }

        &-label-right {
            @apply flex-row;
        }

        & > svg {
            @apply animate-spin;
        }
    }

    .btn {
        @apply inline-flex items-center justify-center gap-2 shrink-0;
        @apply outline-none rounded shadow-xs;
        @apply text-sm font-medium whitespace-nowrap;

        &:focus-visible {
            @apply ring-3 ring-ring/50 border-ring;
        }

        &:disabled {
            @apply cursor-not-allowed opacity-50;
        }

        & > svg {
            @apply size-4 pointer-events-none shrink-0;
        }

        &-primary {
            @apply bg-primary text-primary-foreground hover:bg-primary/80;
        }

        &-secondary {
            @apply bg-secondary text-secondary-foreground hover:bg-secondary/80;
        }

        &-outline {
            @apply border border-input text-foreground bg-background
                hover:bg-muted;
        }

        &-success {
            @apply bg-success text-success-foregroud hover:bg-success/80;
        }

        &-destructive {
            @apply bg-destructive text-destructive-foreground
                hover:bg-destructive/80;
        }

        &-sm {
            @apply h-8 px-3 has-[>svg]:px-2.5 gap-1.5;
        }

        &-md {
            @apply h-9 px-4 py-2 has-[>svg]:px-3;
        }

        &-lg {
            @apply h-10 rounded-md px-6 has-[>svg]:px-4;
        }

        &-icon {
            @apply size-9 [&>svg]:size-2/3;
        }
    }

    .label {
        @apply text-sm font-medium align-middle leading-none;
        @apply aria-invalid:text-destructive;
    }

    .value-only-input {
        @apply outline-none cursor-default select-none;

        &:disabled {
            @apply opacity-50;
        }

        &:focus-visible {
            @apply border-b border-ring/50;
        }

        &:read-only {
            @apply pointer-events-none;
        }
    }

    .input {
        @apply inline-flex w-full min-w-0 h-9 px-3 py-1;
        @apply border border-input outline-none rounded;
        @apply bg-transparent shadow-xs;
        @apply text-foreground text-base md:text-sm
            placeholder-muted-foreground;

        &:disabled {
            @apply cursor-not-allowed opacity-50;
        }

        &:focus-visible {
            @apply ring-3 ring-ring/50 border-ring;
        }

        &[aria-invalid='true'] {
            @apply ring-3 ring-destructive/10 border-destructive;
        }
    }

    .field {
        @apply flex flex-col gap-y-2;
    }

    .field-description {
        @apply text-sm text-muted leading-5;
    }

    .password {
        @apply inline-flex w-full min-w-0 h-9 px-3 py-1;
        @apply border border-input rounded;
        @apply bg-transparent shadow-xs;
        @apply text-foreground text-base md:text-sm
            placeholder-muted-foreground;

        &:has(input:disabled) {
            @apply cursor-not-allowed opacity-50;
        }

        &:has(input:focus-visible) {
            @apply ring-3 ring-ring/50 border-ring;
        }

        &:has(input[aria-invalid='true']) {
            @apply ring-3 ring-destructive/10 border-destructive;
        }

        &-input {
            @apply w-full outline-none disabled:cursor-not-allowed;
        }

        &-toggle-btn {
            @apply cursor-pointer;

            & > svg {
                @apply size-4 pointer-events-none shrink-0;
            }
        }
    }

    .textarea {
        @apply flex w-full min-h-16 px-3 py-2;
        @apply bg-transparent shadow-xs;
        @apply border border-input outline-none rounded;
        @apply text-foreground text-base md:text-sm
            placeholder-muted-foreground;

        &:disabled {
            @apply cursor-not-allowed opacity-50;
        }

        &:focus-visible {
            @apply ring-3 ring-ring/50 border-ring;
        }

        &[aria-invalid='true'] {
            @apply ring-3 ring-destructive/10 border-destructive;
        }
    }

    .fieldset {
        @apply w-full flex flex-col gap-4;

        &-legend {
            @apply font-semibold text-base;
            @apply border-b border-input;
            @apply pb-3;
        }
    }

    .section {
        @apply w-full min-h-screen relative;
    }

    .typography-h1 {
        @apply text-4xl font-extrabold text-center;
        @apply scroll-m-20 tracking-tight;
    }

    .typography-h2 {
        @apply text-3xl font-semibold tracking-tight;
        @apply scroll-m-20 first:mt-0 pb-2;
    }

    .typography-h3 {
        @apply text-2xl font-semibold;
        @apply scroll-m-20 tracking-tight;
    }

    .typography-p {
        @apply leading-7 not-first:mt-2;
    }

    .typography-link {
        @apply underline underline-offset-2;
    }

    .typography-small {
        @apply text-xs font-medium leading-none;
    }

    .typography-error {
        @apply text-destructive not-italic text-sm;
    }

    .typography-list {
        @apply my-6 ml-6 [&>li]:mt-2;

        &-decimal {
            @apply list-decimal;
        }

        &-disc {
            @apply list-disc;
        }
    }

    .box {
        @apply @container/box w-full bg-background;
        @apply border-border rounded;

        &-default {
            @apply p-2;
        }

        &-popup {
            @apply border max-w-[calc(100vw-1rem)] p-6;
        }

        &-xs {
            @apply xs:w-lg;
        }

        &-sm {
            @apply sm:w-160;
        }

        &-md {
            @apply md:w-3xl;
        }

        &-lg {
            @apply lg:w-5xl;
        }

        &-xl {
            @apply xl:w-7xl;
        }

        &-default&-xs {
            @apply xs:border xs:p-6 xs:shadow-xs;
        }

        &-default&-sm {
            @apply sm:border sm:p-6 sm:shadow-xs;
        }

        &-default&-md {
            @apply md:border md:p-6 md:shadow-xs;
        }

        &-default&-lg {
            @apply md:border md:p-6 md:shadow-xs;
        }

        &-default&-xl {
            @apply xl:border xl:p-6 xl:shadow-xs;
        }
    }

    .select {
        @apply flex items-center justify-between gap-2;
        @apply w-fit h-9 px-3 py-2;
        @apply bg-transparent hover:bg-muted shadow-xs;
        @apply border border-input outline-none rounded;
        @apply text-sm whitespace-nowrap;

        &:disabled {
            @apply cursor-not-allowed opacity-50;
        }

        &:focus-visible {
            @apply ring-3 ring-ring/50 border-ring;
        }

        &-icon > svg {
            @apply size-4 pointer-events-none shrink-0;
        }

        &-popup {
            @apply bg-background shadow-xs;
            @apply border border-input rounded;
            @apply min-w-(--anchor-width) origin-(--transform-origin);
        }

        &-item {
            @apply grid items-center grid-cols-[1rem_1fr] gap-2;
            @apply w-full py-2 pl-2 pr-6;
            @apply outline-none;

            &:disabled {
                @apply cursor-not-allowed opacity-50;
            }

            &[data-highlighted] {
                @apply bg-muted first:rounded-t last:rounded-b;
            }

            &-indicator {
                @apply col-start-1;

                & > svg {
                    @apply size-4 pointer-events-none shrink-0;
                }
            }

            &-text {
                @apply text-sm col-start-2;
            }
        }

        &-list {
            @apply max-h-(--available-height) relative;
            @apply overflow-y-auto scroll-p-6;
        }

        &-arrow {
            @apply flex items-center justify-center;
            @apply w-full h-3 z-1;
            @apply text-sm text-center;

            &::before {
                @apply content-[""] absolute w-full h-full left-0;
            }

            &[data-direction='up'] &[data-side='none'] {
                @apply before:-top-full;
            }

            &[data-direction='down'] {
                @apply bottom-0;

                &[data-side='none'] {
                    @apply before:-bottom-full;
                }
            }
        }
    }

    .menu {
        &-popup {
            @apply text-foreground py-2;
            @apply bg-background shadow-xs;
            @apply border border-input outline-none rounded;
            @apply origin-(--transform-origin) duration-150;

            &[data-starting-style],
            &[data-ending-style] {
                @apply opacity-0 scale-90;
            }
        }

        &-item {
            @apply flex items-center relative;
            @apply text-sm leading-none select-none;
            @apply pl-4 pr-8 py-2;

            &[data-highlighted] {
                @apply z-0 relative;
            }

            &[data-highlighted]::before {
                @apply content-[""] absolute inset-y-0 inset-x-2 -z-1;
                @apply bg-muted rounded;
            }
        }

        &-arrow {
            @apply flex;

            &[data-side='top'] {
                @apply -bottom-2 rotate-180;
            }

            &[data-side='bottom'] {
                @apply -top-2 rotate-0;
            }

            &[data-side='left'] {
                @apply -right-4 rotate-80;
            }

            &[data-side='right'] {
                @apply -left-4 -rotate-80;
            }

            &-fill {
                @apply fill-background;
            }

            &-stroke {
                @apply fill-input;
            }
        }

        &-separator {
            @apply h-0.25 max-h-0.25 my-2 mx-2;
            @apply bg-muted/10;
        }
    }

    .dialog {
        &-popup {
            @apply fixed left-1/2 top-1/2 -translate-1/2;
            @apply transition-all duration-150;

            &[data-starting-style],
            &[data-ending-style] {
                @apply opacity-0 -translate-1/2 scale-90 origin-center;
            }
        }

        &-backdrop {
            @apply fixed inset-0 w-full min-h-dvw;
            @apply bg-black opacity-10;
            @apply transition-opacity duration-150;

            /* iOS 26+: Ensure the backdrop covers the entire visible viewport. */
            @supports (-webkit-touch-callout: none) {
                @apply absolute;
            }

            &[data-starting-style],
            &[data-ending-style] {
                @apply opacity-0;
            }
        }

        &-actions {
            @apply flex items-center justify-end gap-2;
            @apply pt-4;
        }
    }

    .number-field {
        @apply flex items-center flex-col gap-1;

        &-increment,
        &-decrement {
            @apply inline-flex items-center justify-center gap-2 shrink-0;
            @apply w-9 h-9;
            @apply bg-background shadow-xs;
            @apply text-sm font-medium whitespace-nowrap select-none;
            @apply border-input outline-none;
            @apply cursor-pointer transition-all;

            &:first-child {
                @apply rounded-tl rounded-bl border-y border-l;
            }

            &:last-child {
                @apply rounded-tr rounded-br border-y border-r;
            }

            &:disabled {
                @apply cursor-not-allowed pointer-events-none opacity-50;
            }

            &:focus-visible {
                @apply ring-3 ring-ring/50 border-ring;
            }

            & > svg {
                @apply size-4 pointer-events-none shrink-0;
            }
        }

        &-group {
            @apply flex items-center min-w-fit;
        }

        &-label {
            @apply text-sm font-medium align-middle leading-none;
            @apply cursor-ew-resize aria-invalid:text-destructive;
        }

        &-input {
            @apply inline-flex w-full min-w-0 h-9 px-3 py-1;
            @apply bg-transparent shadow-xs;
            @apply border border-input outline-none;
            @apply text-base md:text-sm placeholder-muted-foreground;

            &:disabled {
                @apply cursor-not-allowed opacity-50;
            }

            &:focus-visible {
                @apply ring-3 ring-ring/50 border-ring z-1;
            }

            &[aria-invalid='true'] {
                @apply ring-3 ring-destructive/10 border-destructive;
            }
        }

        &-scrub-area {
            @apply cursor-ew-resize font-medium select-none;
        }

        &-scrub-area-cursor {
            @apply drop-shadow-xs;
        }
    }

    .time-fieldset {
        &-label {
            @apply text-xs;
        }

        &-input {
            @apply w-12 text-center;
        }

        &-group {
            @apply flex flex-wrap items-center gap-2 py-2;
        }
    }

    .scroll-area {
        &-viewport {
            @apply h-full rounded;
            @apply outline -outline-offset-1 outline-input;

            &:focus-visible {
                @apply ring-3 ring-ring/50 border-ring;
            }

            &::before,
            &::after {
                @apply content-[""] block left-0 w-full absolute;
                @apply rounded transition-all duration-100;
                @apply pointer-events-none;
            }

            &::before {
                --scroll-area-overflow-y-start: inherit;
                top: 0;
                height: min(40px, var(--scroll-area-overflow-y-start));
                background: linear-gradient(
                    to bottom,
                    color-mix(in oklab, var(--muted) 80%, transparent),
                    transparent
                );
            }

            &::after {
                --scroll-area-overflow-y-end: inherit;
                bottom: 0;
                height: min(40px, var(--scroll-area-overflow-y-end, 40px));
                background: linear-gradient(
                    to top,
                    color-mix(in oklab, var(--muted) 80%, transparent),
                    transparent
                );
            }
        }

        &-scrollbar {
            @apply w-1 flex justify-center;
            @apply m-2 rounded bg-muted;
            @apply opacity-0 transition-opacity pointer-events-none;

            &[data-hovering] {
                @apply opacity-100 delay-0 pointer-events-none;
            }

            &[data-scrolling] {
                @apply opacity-100 duration-0 pointer-events-none;
            }
        }

        &-thumb {
            @apply w-full rounded bg-muted-foreground;
        }
    }

    .collapsible {
        &-trigger {
            @apply flex items-center gap-x-1 px-2 py-1;
            @apply text-foreground text-sm;
            @apply bg-background shadow-xs;
            @apply border border-input outline-none rounded;

            &:focus-visible {
                @apply ring-3 ring-ring/50 border-ring;
            }

            &-icon > svg {
                @apply size-4 shrink-0 pointer-events-none;
            }

            &[data-panel-open] &-icon > svg {
                @apply rotate-90;
            }
        }

        &-panel {
            @apply flex flex-col justify-end;
            @apply h-(--collapsible-panel-height) overflow-hidden;
            @apply transition-all duration-150;
            @apply text-base;

            &[hidden]:not([hidden='until-found']) {
                @apply hidden;
            }

            &[data-starting-style],
            &[data-ending-style] {
                @apply h-0;
            }
        }
    }

    .progress {
        @apply grid grid-cols-2 gap-y-2;

        &-label {
            @apply text-sm font-medium;
        }

        &-value {
            @apply text-right col-start-2;
        }

        &-track {
            @apply col-span-full;
            @apply h-1.5 overflow-hidden;
            @apply bg-muted shadow-xs rounded;
            @apply border border-input;
        }

        &-indicator {
            @apply bg-muted-foreground;
            @apply transition-all duration-500;
        }
    }

    .autocomplete {
        &-popup {
            @apply w-(--anchor-width) max-w-(--available-width) max-h-80;
            @apply bg-background;
            @apply border border-input rounded;
        }

        &-list {
            @apply overflow-y-auto overscroll-contain;
            @apply py-2 scroll-p-2;
            @apply max-h-[min(20rem,var(--available-height))];

            &[data-empty] {
                @apply p-0;
            }
        }

        &-item {
            @apply flex pl-4 pr-8 py-2;
            @apply cursor-default select-none;

            &[data-highlighted] {
                @apply relative z-0 bg-muted;
            }

            &[data-highlighted]::before {
                @apply content-[""] absolute;
                @apply inset-x-2 inset-y-0 -z-1;
                @apply bg-muted rounded;
            }
        }

        &-separator {
            @apply mx-4 my-1.5 h-1;
        }

        &-empty:not(:empty) {
            @apply text-muted-foreground text-sm leading-1;
            @apply p-4;
        }

        &-group-label {
            @apply w-[calc(100%-0.5rem)] pt-2 px-4 pb-1;
            @apply text-sm font-semibold uppercase tracking-wider;
            @apply sticky top-0;
            @apply z-1;
        }
    }
}
