# - - Fastify - -
SERVER_HOST="<HOST>"
SERVER_PORT="<PORT>"
SERVER_LOGGER="false"
CORS_ORIGIN=""

# - - - Sqlite - - -
STORE_PATH=""

# - - - Paseto - - -
TOKEN_PRIVATE_KEY="<YOUR-PRIVATE-KEY>"
TOKEN_PUBLIC_KEY="<YOUR-PUBLIC-KEY>"


# - - - Auth - - -
ADMIN_KEY="<YOUR-KEY>"