# - - Fastify - -
SERVER_HOST=""
SERVER_PORT=""
SERVER_LOGGER="false"
CORS_ORIGIN="*"

# - - Sqlite - -
STORE_PATH=""

# - - Access Token (Paseto) - -
TOKEN_ISSUER=""
TOKEN_AUDIENCE=""
TOKEN_EXPIRATION=""
TOKEN_PRIVATE_KEY=""
TOKEN_PUBLIC_KEY=""

# - - - Cookie Sign - - -
COOKIE_KEY=""

# - - - Auth - - -
ADMIN_KEY=""