@import "@ui/core";

cap-widget {
    /* - - Border - - */
    --cap-gap: 0.5rem;
    --cap-widget-width: 14rem;
    --cap-widget-height: 3rem;
    --cap-widget-padding: 0 0.5rem;

    --cap-color: var(--foreground);
    --cap-background: var(--background);

    --cap-border-color: var(--border);
    --cap-border-radius: var(--radius);

    /* - - Checkbox - - */
    --cap-checkbox-border: 1px solid var(--border);
    --cap-checkbox-border-radius: 0.5rem;

    --cap-checkbox-background: var(--background);

    --cap-checkbox-margin: 0;
    --cap-checkbox-size: 1.5rem;

    /* - - Spinner - - */
    --cap-spinner-thickness: 2px;

    --cap-spinner-color: var(--primary);
    --cap-spinner-background-color: var(--border);
}
